<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/dashboard_layout :: dasboard-fragment (
                                                ~{:: title},
                                                ~{:: #main-content},
                                                ~{:: #otherResources}
                                             )}">
<head>
    <title>Dashboard</title>
    <style>
        body .modal-dialog { /* Width */
            max-width: 100%;
            width: auto !important;
            display: inline-block;
        }
    </style>
</head>
<body>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v1</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


<div class="content" id="main-content">

    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Upcoming Sale</strong>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Company Name</th>
                                <th scope="col">Contract Day</th>
                                <th scope="col">Payment Day</th>
                                <th scope="col">Invoice Day</th>
                                <th scope="col">Detail</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${upcommingPurchase}">
                                <td th:utext="${item.contract.name}"></td>
                                <td th:utext="${item.companyName}"></td>
                                <td th:utext="${item.contractDt}"></td>
                                <td th:utext="${item.paymentDt}"></td>
                                <td th:utext="${item.paymentInvoiceDt}"></td>
                                <td>
                                    <button type="button" class="btn btn-primary"
                                            th:id="${upcommingPurchase.indexOf(item)}" onclick="showPopupSale(e)">
                                        View Detail
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Upcomming purchase</strong>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Company Name</th>
                                <th scope="col">Contract Day</th>
                                <th scope="col">Payment Day</th>
                                <th scope="col">Invoice Day</th>
                                <th scope="col">Detail</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${upcommingPurchase}">
                                <td th:utext="${item.contract.name}"></td>
                                <td th:utext="${item.companyName}"></td>
                                <td th:utext="${item.contractDt}"></td>
                                <td th:utext="${item.paymentDt}"></td>
                                <td th:utext="${item.paymentInvoiceDt}"></td>
                                <td>
                                    <button type="button" class="btn btn-primary"
                                            th:id="${upcommingPurchase.indexOf(item)}"
                                            onclick="showPopupPurchase(this)">
                                        View Detail
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Contract Detail</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th width="30%"></th>
                            <th width="35%">Contract</th>
                            <th width="35%">Payment</th>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th>Company Name</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Current</th>
                            <th>Term</th>
                            <th>Ratio</th>
                            <th>Date</th>
                            <th>Value</th>
                            <th>Remain</th>
                            <th>Invoice Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td id="name"></td>
                            <td id="companyName"></td>
                            <td id="contractDt"></td>
                            <td id="contractAmount"></td>
                            <td id="current"></td>
                            <td id="term"></td>
                            <td id="paymentRatio"></td>
                            <td id="paymentDt"></td>
                            <td id="paymentValue"></td>
                            <td id="paymentRemain"></td>
                            <td id="paymanetInvoiceDt"></td>

                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>


<th:block id="otherResources">
    <script type="text/javascript" >

        function showPopupPurchase(e) {
            let id = e.getAttribute("id");
            jQuery('#myModal').modal();
            console.log(id);
        }


    </script>

</th:block>


</body>
</html>